@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light-purple: #C4C3E3;
  --color-dark-purple: #504E76;
  --color-light-yellow: #FDF8E2;
  --color-green: #A3B565;
  --color-yellow: #FCDD9D;
  --color-orange: #F1642E;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
